/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/*-------------------------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgb(6, 169, 152);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main h1 {
    font-size: 40px;
    font-weight: 800;
    text-transform: capitalize;
    margin: 50px 20px 30px;
    color: #fff;
}

.search-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 20px;
}
.search-icon {
    width: 50px;
    height: 45px;
    border-radius: 10px 0 0 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-icon i {
    color: black;
    font-size: 20px;
}
#search-input {
    width: 500px;
    height: 45px;
    border: 0;
    outline: 0;
    border-radius: 0 10px 10px 0;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px 0 3px;
}

.crypto-currency-box {
    margin-bottom: 20px;
}
.crypto-currency-box .crypto {
    max-width: 900px;
    min-height: 50px;
    background: #f0e9e9;
    transition: all .4s ease;
}
.crypto:hover {
    box-shadow: 0 0 5px 5px #0000006a;
}

tr td {
    padding: 10px 20px;
}

.crypto .rank {
    font-size: 20px;
    font-weight: 500;
}
.crypto img {
    width: 30px;
    height: 30px;
}
.crypto td h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.crypto td span{
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
}
.crypto .price, .crypto .change_percentage_24h {
    font-size: 22px;
    font-weight: 500;
}

.red {
    color: rgb(246, 37, 37);
}
.green {
    color: rgb(18, 159, 18);
}


@media screen and (max-width: 1100px) {
    .crypto td {
        padding: 5px 7px;
    }
}


@media screen and (max-width: 750px) {
    .crypto td {
        padding: 5px;
    }
    .crypto .rank {
        font-size: 14px;
        font-weight: 400;
    }
    .crypto img {
        width: 25px;
        height: 25px;
    }
    .crypto td h2 {
        font-size: 16px;
        font-weight: 500;
    }
    .crypto td span{
        font-size: 12px;
    }
    .crypto .price, .crypto .change_percentage_24h {
        font-size: 14px;
        font-weight: 500;
    }

    main h1 {
        font-size: 25px;
        font-weight: 600;
        width: 100%;
        text-align: center;
    }

    #search-input {
        width: 350px;
        height: 40px;
    }
    .search-icon {
        height: 40px;
    }
}


@media screen and (max-width: 400px) {
    .crypto td {
        padding: 0;
    }
    .crypto .rank {
        font-size: 12px;
    }
    .crypto img {
        width: 20px;
        height: 20px;
    }
    .crypto td h2 {
        font-size: 14px;
        font-weight: 400;
    }
    .crypto td span{
        font-size: 10px;
    }
    .crypto .price, .crypto .change_percentage_24h {
        font-size: 12px;
        font-weight: 400;
    }

    main h1 {
        font-size: 20px;
        font-weight: 500;
    }

    #search-input {
        width: 300px;
        height: 40px;
    }
    .search-icon {
        height: 40px;
    }
}
